:host {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.chat-container {
  height: 80vh;
}

.form-control {
  background-color: rgb(42, 42, 42);
  border: none;
}

input::placeholder {
  color: rgb(183, 181, 181); /* choose your color */
  opacity: 1; /* optional: browsers sometimes make it semi-transparent by default */
}

.send-msg {
  background-color: var(--primary-color);
  color: white;
  border: 0px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  width: fit-content;
  font-weight: bold;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.msg-row {
  display: flex;
  justify-content: flex-start; /* AI = left */
}

.msg-row.me {
  justify-content: flex-end; /* User = right */
}

.msg-card {
  background-color: #6c757d;
  color: white;
  border-radius: 20px 1.5px 20px 20px;
  max-width: 70%;
}

.ai-card {
  background-color: #2a2a2a;
  color: white;

  border-radius: 1.5px 20px 20px 20px;
  max-width: 70%;
}
