<div class="layout-wrapper bg-black">
  <div class="main-container">
    <main class="mt-4">
      <div class="p-3">
        <h1 class="fw-bold display-5 mb-0 text-white">Top Anime</h1>
      </div>
      <div class="row">
        @for (anime of topAnimeList; track $index) {
        <div class="col-3 mb-3">
          <img
            (click)="openDetails(anime)"
            [src]="anime.images.jpg.image_url"
            alt=""
            class="rounded-4"
            style="height: 318px"
          />
          <p class="pt-2 m-0 text-truncate text-white">{{ anime.title }}</p>
          <span class="text-truncate text-episodes fst-italic">
            {{ anime.episodes ? anime.episodes : "Unknown" }} episodes
          </span>
        </div>
        }
      </div>

      <div class="pagination-container p-4 mt-4">
        <a href="#" class="page-btn inactive">
          <span class="material-symbols-outlined">chevron_left</span>
        </a>
        <a href="#" class="page-btn active">1</a>
        <a href="#" class="page-btn inactive">2</a>
        <a href="#" class="page-btn inactive">3</a>
        <a href="#" class="page-btn inactive">4</a>
        <a href="#" class="page-btn inactive">5</a>
        <a href="#" class="page-btn inactive">
          <span class="material-symbols-outlined">chevron_right</span>
        </a>
      </div>
    </main>
  </div>
</div>
