@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

:root {
  background-color: black;
  --primary-color: darkorchid;
}
