.main {
  background-color: black;
}

.rating-text {
  color: var(--primary-color);
}

.generate-summary {
  background-color: var(--primary-color);
  color: white;
  border: 0px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  width: fit-content;
  font-weight: bold;
}
